@media screen and (max-width: 743px){
	.mobile-menu{
		background: #2e2e2e;
		position: absolute;
		z-index: 1;
		width: 100%;
		top:0;
		padding-bottom: 125px;
		.holder-mobile-menu{
			padding: 50px 20px 0 20px;
		}
		.mobile-menu__list-info{
			text-transform: uppercase;
			border-bottom: 2px solid #434343;
			li{
				margin-bottom: 15px;
				a{
					color: #fff;
					font-family: "RobotoRegular";
					&:hover{
						color: #c24639;
					}
				}
			}
		}
		.mobile-menu__list-repairs{
			margin-top: 10px;
			border-bottom: 2px solid #434343;
			li{
				margin-bottom: 15px;
				a{
					color: #fff;
					font-family: "RobotoRegular";
					&:hover{
						color: #c24639;
					}
				}
			}

		}

		.application-mobile{
			margin-top: 25px;
			.application__link {
    			padding: 10px 30px;
  
			}
		}
		.mobile-menu__check-button{
			color: #fff;
			margin-top: 30px;
			display: block;
			&:hover{
				color: #c24639;
			}
		}

	}
	.burger__item span{
		position: absolute;
		z-index: 2;
	}
	.container{
		max-width:  414px;
	}
	.header-top{
		padding: 0 !important;
	}
	.header-df{
		display: block !important;
		.logo{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
    		justify-content: space-between;
    		align-items: center;
    		-webkit-align-items: center;
    		border-bottom: 2px solid #d5d5d5;
    		padding: 10px 20px;
    		&__img-mobile{
    			display: block;
    		}
    		&__img-desktop{
    			display: none;
    		}
    		.burger{
    				display: block;
    			 cursor: pointer;

    			&__item{
				    position: relative;
				    overflow: hidden;
				    width: 25px;
				    height: 18px;
				    font-size: 0;
				    text-indent: -9999px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    box-shadow: none;
				    border-radius: none;
				    border: none;

				    background: none;
    			}

    			&__upper{
			         display: block;
			         position: absolute;
			         top: 3px;
			         width: 100%;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ff0000;

			    }
			    .cliked{
			     	background: white;
			   	}
			    &__mid{
			         display: block;
			         position: absolute;
			         top: 8px;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ff0000;
			       }
			    &__lower{
			          display: block;
			         position: absolute;
			         top: 13px;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ff0000;
			    }

    		}
		}
		.info{
			display: none;
		}
		.contacts{
			&__img{
				border-color: transparent;
				&:before{
					left: -16px;
				}
			}
		}
		.header-container-mobile {

    		display: -webkit-flex;
    		display: flex;
    		/* -webkit-box-pack: justify;
 */    		-webkit-justify-content: space-between;
    		justify-content: space-between;
    		-webkit-align-items: flex-end;
    		align-items: flex-end;
    		border-bottom: 2px solid #d5d5d5;
    		padding: 10px 30px 20px;
		}
		.application {
		    display: none;
		}
	}
	.header-bot{
		display: none;
	}


/* ===========brand-menu============= */
	#mob-brands{
		display: none;
	}

	.brand-menu{
		padding: 0 20px;
		
		&__title{
			
			font-size: 18px;
			padding: 10px 0;
			a{
				color: #fff;
				padding-left: 30px;
				position: relative;
				&:before{
					content: url(../img/back.svg);
					position: absolute;
					top: 2px;
					left: 0px;
				}
			}
		}

		&__list{
			padding: 20px 0;
			border-bottom: 2px solid #434343;
			border-top: 2px solid #434343;
		}

		&__item{
			padding: 8px;
		}

		&__link{
			color: #fff;
			&:hover{
				color: #c24639;
			}
		}
	}
/* ===========model-menu============= */
	#mob-models{
		display: none;
	}

	.model-menu{
		padding: 0 20px;
		
		&__title{
			
			font-size: 18px;
			padding: 10px 0;
			a{
				color: #fff;
				padding-left: 30px;
				position: relative;
				&:before{
					content: url(../img/back.svg);
					position: absolute;
					top: 2px;
					left: 0px;
				}
			}
		}

		&__list{
			padding: 20px 0;
			border-bottom: 2px solid #434343;
			border-top: 2px solid #434343;
		}

		&__item{
			padding: 8px;
		}

		&__link{
			color: #fff;
			&:hover{
				color: #c24639;
			}
		}
	}

/* =============main================== */

	.tree{
		border-bottom: 2px solid #d5d5d5;
		.tree__list{
			display: none;
		}
	}

	.mobile-menu-logo{
  		 margin: 10px 0 0 18px;
  	}
	.tree__link--mobile{
		position: relative;
		margin-left: 30px;
		display: inline;
		&:before{
			content: "";
			position: absolute;
			background: url(../img/tree-arrow-left.png) no-repeat;
			width: 8px;
			height: 14px;
			left: -13px;
			top: 2px;
		}
	}
	.main-1__top{
		position: relative;

	}
	
	.main-1{
		&__bot{
			.title{
				&__text{
					display: inline-block;
					font-size: 18px;
					width: 70%;
				}

				img{
					padding-right: 5px;
				}
			}
		}

		&__param{
			&--red{
				padding: 0;
			}
		}

		&__img{
			display: none;
			&--mob{
				display: inline;
			}
		}
	}

	.main-1__rating{
		margin: 10px 0 0 5px;
	}
	.main-1__pict{
		margin-top: 145px;
	}
	.main-1__services{

		display: none !important;

	}
	
	.main-1__btn{
		margin: 23px 20px 0;
	}

	.main-1__mobile{
		position: absolute;
		top: 0;
		left:0;
		padding: 0 20px;
		.title{
			font-size: 24px;
		}
	}
	.main-1__content{
		width: 121px;
	}
	.main-1__mobile-slick{
		display: block !important;
		margin-top: 160px;
	}
	.main-1__link{
		padding: 0px 6px !important;
		border: none !important;
		span{
			display: block;
			width: 120px !important;
			
		}
	}
	.slick-track{
		margin-bottom: 10px;
	}
	.slick-dots{
		margin-left: 0;
	}
	.slick-dots li button{
		background: url(../img/dot.png) no-repeat;
		width: 10px;
		height: 10px;
		border: none;
		&:hover{
			background: url(../img/dot-hover.png) no-repeat;
			width: 10px;
			height: 10px;
		}

		&:before{
			display: none;
		}
	}
	.main-1__link:nth-of-type(1), .main-1__link:nth-of-type(2), .main-1__link:nth-of-type(3), .main-1__link:nth-of-type(4){
		border: none !important;
	}
	


	.main-2__body{
		.main-2__option{
			display: none;
		}
	}
	.main-2__slider{
		display: flex !important;
		flex-wrap: wrap;
	    justify-content: center;
	    display: block ;

	    .slick-arrow{
	    	background-image: url(../img/main-2-mob-arrow.png);
	    }
	}
	.main-2__text{
		width: auto !important;
		padding-left: 15px;
	}
	.slick-slide img{
		display: inline-block;
	}
	.slick-prev, .slick-next{
		background:none;
		width: 30px;
		height: 30px;
		z-index: 3;
		&:before{
			display: none;
		}
	}

	.slick-next {
    	right: 10px;
    	background-image: url("../img/model-arrow-r.png");
    	&:hover{
    		background-image: url("../img/model-arrow-r-h.png");
    	}
	}
	.slick-prev {
    	left: 13px;
    	transform: rotate(180deg)  translateY(11px); 
    	background-image: url("../img/model-arrow-r.png");
    	&:hover{
    		background-image: url("../img/model-arrow-r-h.png");
    	}
	}
	
	.main-1__bot .title{
		font-size: 24px;
		padding: 0 20px;
	}
	.main-3__table{
		display: none;
	}
	.main-3__bot .bot-text{
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-3-mobile{
		display: block !important;
		&__services{
			font-family: "OpenSansBold";
			padding: 24px 0 24px 20px;
			background: #dbdbdb;
		}
	}
	.container-mobile-pad{
		padding: 20px 38px 20px 20px;
	}
	.container-mobile-bg{
		background: #f1f1f1;
	}
	.holder-price{
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}
	.dn{
		display: block !important;
	}
	.holder-price__bold{
		font-family: "OpenSansBold";
	}
	.main-4__body{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.main-4__content{
		margin: 0 !important;
		.title{
			font-size: 20px;
		}
	}

	.main-4{
		&__h4{
			font-size: 16px;
		}

		&__image{
			display: none;
			&--mob{
				display: inline;
			}
		}
	}

	.main-4__square{
		margin: 30px 0;
		padding-left: 34px;
		list-style-type: square;
		li{
			margin-bottom: 15px;
			color: red;
			span{
				color: #2e2e2e;
			}
		}
	}
	.main4pict2{
		padding: 30px 0;
	}
	.main-4__pict img{
		position: static;
	}
	.main-5__body{
		flex-wrap: wrap;
	}
	.main-5__pict{
		display: none;
	}
	.main-5__content{
		margin-top: 25px !important;
		padding: 0 20px;
		.title{
			font-size: 24px !important;
		}
	}	
	.popup-slider__container{
		padding: 0 10px;
		.popup-slider__prev{
			top: 61%;
    		left: 21px
		}
		.popup-slider__next{
			right: 20px;
			top: 60%;
		}
	}

	.main-break__body{
		display: none !important;
	}
	.main-break__slider{
		display: block !important ;

	}
	.main-break__link p{
		width: auto !important;
	}
	
	.models-slider__title{
		font-size: 24px;
		margin-bottom: 0px;
	}

	.models-slider{
		margin-bottom: 20;
		&__item{
			width: 225px;
			padding: 20px 0;
		}
	}

	.photo-slider{
		margin-top: 30px;
	}
	.footer-df{
		justify-content: space-around !important;
	}
	.left{
		width: 743px;
		
	}
	.left__holder{
		width: 245px;
			margin: 0 auto;
	}
	.repairs{
			padding: 32px 20px 0 20px ;
		}
	.footer-contacts{
		padding-left: 22px;
	}

/* ========fancybox======== */
	.popup-title{
		font-size: 24px;
	}
	.fancybox{
		&-close{
			background-size: cover;
		}
		&-nav span{
			visibility: visible;
			background-size: cover;
		}
	}

	.popup-slider__container{
		
		margin: 0 50px;
	}
	
}
@media screen and (max-width: 414px){
	.popup-slider__container{
	 	margin: 0 ;
	}
}

@media all and (orientation: landscape) and (max-width: 743px){
	.container{
		width: 100%;
		max-width: 100%;
	}

	.popup-slider{
		&__container{
			width: 40%;
			margin: 0 auto;
		}

		.fancybox-thumb{
			
		}
	} 
} 

