*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}


html, body{
	font: 14px 'OpenSansRegular', sans-serif;
	color: #2e2e2e;
	overflow-x: hidden;

}
.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}
.title{
	font-size: 36px;
}

.blur{
 -webkit-filter: blur(8px);
 -moz-filter: blur(8px);
  -o-filter: blur(8px);
 -ms-filter: blur(8px);
     filter: blur(8px);
    z-index: 2;
}

/* ====HEADER==== */
.burger{
	display: none;
}

.header-top{
	padding: 18px 0;
}
.header-df{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.logo{
	&__img-mobile{
		display: none;
	}
}
.mobile-menu{
	display: none ;
}
.info{
	display: flex;
	padding: 0 12px;
	border: 2px solid #d5d5d5;
	border-width: 0 2px;
	&__item{
		padding: 0 17px;
	}
	&__link{
		color: #2e2e2e;
		font-family: "RobotoBold";
		&:hover{
			color: #e74c3c;
		}
	}
	
}
.header-container-mobile{
	display: flex;
	align-items: center;
}
.contacts{
	font-family: "RobotoRegular";
	font-size: 12px;
	color: #2e2e2e;
	&__img{
		position: relative;
		border-right: 2px solid #d5d5d5;
		padding-right: 30px;
		&:before{
			content: "";
			position: absolute;
			background: url(../img/viber.png) no-repeat;
			width: 16px;
			height: 18px;
			left: -20px;
		}
		
		
	}
}
.adress{
	text-align: center;
	font-family: "RobotoRegular";
	font-size: 12px;
	color: #2e2e2e;
	position: relative;
    left: 20px;
}
.application{
	font-size: 12px;
	&__link{
		color: #fff;
		background: #e74c3c;
		padding: 10px 50px;
		border-radius: 20px;
		&:hover{
			background: #da3423;
		}
	}
}
.header-bot{
	background: #2e2e2e;
/* 	overflow: hidden;   */
	padding: 20px 0;
}
.header-bot-df{
	display: flex;
}
.nav{
	margin-left: -45px;
	margin-right: 45px;
	&__list{
	display: flex;
	justify-content: flex-start;	

	}
	&__item{
		position: relative;
		border-right: 2px solid #434343;
		&--drop{
			&:hover{
				 .nav-dropdown{
					left: 8px;
				}
			}
		}
	}
	&__link{
		color: #fefefe;
		font-family: "RobotoRegular";
		padding: 20px 43px;
		&:hover{
			color: #e74c3c;
		}	

		
	}

	&-dropdown{
		position: absolute;
		background: #434343;
		z-index: 2;
		top: 39px;
		left: -9999px;
		opacity: 0.95;
		padding-bottom: 10px;
		&__item{
			padding: 0 15px;
    		width: 175px;
    		position: relative;
			&:hover{
				background: #5d5d5d;	
				color: #fff;
			}

    		&--drop{
    			&:hover{
    				.nav-submenu{
						left: 205px;
    				}
    			}
	  			&:before{
		    			content: '';
					    position: absolute;
					    width: 7px;
					    height: 12px;
					    right: 15px;
					    top: 15px;
					    background: url(../img/ul-children-icon.png) no-repeat;
	    			} 

    		}
		}

		&__link{
			background: none;
    		display: block;
   			padding: 10px 20px;
   			color: #FFF;
   			font-size: 14px;
		}
	}

	&-submenu{
		display: block;
		position: absolute;
		background: #434343;
		left: -9999px;
		top: 0px;
		width: 650px;
		opacity: 0.95;
		&__item{
			padding: 0 15px;
    		width: 175px;
    		display: inline-block;
    		float: left;
    		&:hover{
    			background: #696969;
    		}
		}

		&__link{
			display: block;
    		padding: 10px 20px;
    		color: #fff;
		}
	}
}

.check-button{
	&__link{
		color: #fff;
		padding: 20px 50px;
		&:hover{
			background: #434343;
		}
	}
}

/* ====Tree==== */

.tree{
	font-size: 12px;
	padding: 15px 0;
	
	&__list{
		li{
			display: inline-block;
			&:not(:last-of-type)::after{
				content:url(../img/tree-arrow.png);
				font-weight: bold;
				color: #ea6355;
				text-transform: uppercase;
				padding: 0 5px ;
			}


		}
	}

	&__link{
		color: #2e2e2e;
		&:hover{
			color: #000;
		}

		&--mobile{
			display: none;
		}
	}
}

/* =======main-1========== */

.main-1{
	&__top{
		display: flex;
		display: -webkit-flex;
		margin-top: 25px;
		margin-bottom: 20px;
	}
	
	&__rating{		
		direction: rtl;
		text-align: left;
		margin-top: 10px;

		& > span{
			display: inline-block;
 			position: relative;
  			width: 1.1em;
  			padding: 0 3px;
		}

  		& > span:hover:before {
			content: url(../img/rait-star-hov.png);
			position: absolute;
  		}
  		
  		& > span:hover ~ span:before {
			content: url(../img/rait-star-hov.png);
			position: absolute;
  		}
	}
		
	&__services{
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			margin-top: 40px;
	}	

	&__link{
			padding: 50px 0 40px;
			width: 400px;
			display: flex;
			display: -webkit-flex;
			align-items: center;
			justify-content: center;
			border: 2px solid transparent;
			span{
				width: 130px;
				color: #2e2e2e;
			}

			img{
				padding-right: 45px;
			}

			&:nth-of-type(1){
				border-right: 1px solid #f4f4f4;
				border-bottom: 1px solid #f4f4f4;
			}
			&:nth-of-type(2){
				border-left: 1px solid #f4f4f4;
				border-bottom: 1px solid #f4f4f4;
			}
			&:nth-of-type(3){
				border-right: 1px solid #f4f4f4;
				border-top: 1px solid #f4f4f4;
			}
			&:nth-of-type(4){
				border-left: 1px solid #f4f4f4;
				border-top: 1px solid #f4f4f4;
			}
			&:hover{
				border: 2px solid #e74c3c;
			}

	}
	.main-1__mobile-slick{
		display: none;
	}
	&__bot{
		display: flex;
		display: -webkit-flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap:wrap;
		justify-content: space-between;
		margin-bottom: 50px;
		.title{
			margin: 10px 0;

			img{
				position: relative;
				top: 15px;
				padding-right: 25px;
			}
		}
	}

	&__btn{
		width: 370px;
		display: block;
		padding: 19px 0;
		text-align: center;
		font-weight: bold;
		background-color: #e74c3c;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		border-radius: 44px;
		margin-top:23px;
		&:hover{
			background: #da3423;
		}
	}

	&__img{
		&--mob{
			display: none;
		}
	}
}

/* =======main-2========== */

.main-2{
	background-color: #f3f3f3;

	&__body{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.main-2__slider{
		display: none;
	}
	&__option{
		padding: 50px 22px;
		text-align: center;

	}
	
	&__img{
		padding-bottom: 25px;
	}

	&__text{
		width: 140px;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		color: #2e2e2e;
	}
}

/* =======main-3========== */

.main-3{
	.main-3-mobile{
		display: none;
	}
	&__table{
		margin: 0 auto;
		margin-top: 90px;
		margin-bottom: 25px;
		width: 80%;
		td, th{
			text-align: left;
			padding-top: 18px;
			padding-bottom: 30px;
		}
		
		thead{
			background: #dbdbdb;
			th:first-child{
				padding-left: 30px;
			}
			th:last-child{
				padding-right: 30px;
			}
		}

		.th--grey{
			background-color: #f1f1f1;
		}
	}

	&__desc{
		padding-left: 30px;
		color: #7f7f7f;
		p{
			width: 55%;
			&:first-child{
				color: #2e2e2e;
				padding-bottom: 5px;
			}
		}
	}

	&__cost{
		font-weight: bold;
		padding-right: 100px;
		
		&--none{
			color: #7f7f7f;
			text-decoration: line-through;
			&:after{
				content:"*";
			}
		}	
	}
	
	&__time{
		padding-right: 60px;
	}

	&__bot{
		font-family: "OpenSansLight";
		margin-bottom: 25px;
		color: #000;
		.bot-text{
			padding: 5px 0;
		}
	}
}

/* =======main-4========== */

.main-4{

	&__body{
		display: -webkit-box;	
		display: -webkit-flex;
		display: flex;
		display: -webkit-flex;
		margin-bottom: 20px;
	}
	.dn{
		display: none;
	}
	&__pict{
		img{
			position: relative;
			left: -50px;
		}
	}

	&__content{
		margin-top: 125px;
	}

	&__h4{
		font-family: "OpenSansLight";
		font-size: 18px;
		padding-bottom: 15px;
	}

	&__text{
		padding: 15px 0;
		line-height: 1.5;
	}

	&__image{
		&--mob{
			display: none;
		}
	}
}

/* =======main-5========== */
.main-5{
	background-color: #f1f1f1;
	&__body{
		display: flex;
		display: -webkit-flex;
		
		.title{
			font-size: 28px;
		}
	}

	&__pict{
		img{
			
		}
	}

	&__content{
		margin-top: 55px;
	}

	&__list{
		list-style-image: url(../img/verification-mark.svg);
		font-size: 16px;
		margin-top: 15px;
		padding-left: 53px;
		li{
			padding: 10px 0;
		}
	}

	&__text{
		padding: 10px 15px;
	}
}

/* =======models-slider========== */
.models-slider{
	margin: 30px 0;
	&__title{
    	font-size: 28px;
    	text-align: center;
    	margin-bottom: 25px;
	}

	&__item{
		display: block;
		text-align: center;
		border: 2px solid transparent;
		margin: auto;
		width: 270px;
		padding: 40px 0;
		.item__name{
			padding-top: 25px;
			font-size: 16px;
			color: #2e2e2e;
		}

		&:hover{
			border: 2px solid #e74c3c;
		}

		
	}

	&__img{
		height: 220px;
		display: flex;
		display: -webkit-flex;
		img{
			margin: auto;
		}
	}

	.slick-prev, .slick-next{
		background:none;
		width: 30px;
		height: 30px;
		z-index: 3;
		&:before{
			display: none;
		}
	}

	.slick-next {
    	right: 10px;
    	background-image: url("../img/model-arrow-r.png");
    	&:hover{
    		background-image: url("../img/model-arrow-r-h.png");
    	}
	}
	.slick-prev {
    	left: 13px;
    	transform: rotate(180deg)  translateY(15px); 
    	background-image: url("../img/model-arrow-r.png");
    	&:hover{
    		background-image: url("../img/model-arrow-r-h.png");
    	}
	}
}
/* =======main-break========== */

.main-break{
	&__title{
		font-size: 28px;
		text-align: center;
	}

	&__body{
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top:35px;
		margin-bottom: 75px;
	}
	.main-break__slider{
		display: none;
	}
	&__link{
		display: block;
		text-align: center;
		padding: 19px 0 12px;
		border: 2px solid transparent;
		color: #2e2e2e;
		&:hover{
			border: 2px solid #e74c3c;
		}

		p{
			width: 160px;
			padding: 27px 5px 0;
		}
	}

	&__img{
		height: 58px;
	}
}



/* ====popup-gallery====*/ 
.popup-title{
	text-align: center;
	font-size: 28px;
	color: #2e2e2e;
	font-weight: normal;
	margin-bottom: 35px;
}
.popup-slider{
	width: 9999px;
	.fancybox-thumb{
		padding: 0 10px;
		float:left;
		display: block;
		width: 280px;
		display: flex;
		display: -webkit-flex;
		height: 150px;

		img, video {
			width: 100%;
			height: 100%;
		}

		iframe{
			position: relative;
			z-index: -1; 	
			width: 100%;
			
		}
	}
	&:after{
		content: "";
		clear: both;
		display: block;
	}
	
	&__container{
		overflow: hidden;
	}
	
	&__link{
		position: absolute;
		top: 60%;
		font-size: 0px;
	}
		 
	&__next{
		right: -37px;
		margin-left: 6px;
		background: url(../img/model-arrow-r.png) no-repeat;
		width: 30px;
		height: 30px;

		&:hover{
			background: url(../img/model-arrow-r-h.png) no-repeat;
		    width: 30px;
		    height: 30px;
		}
	}
	
	&__prev{
		background: url(../img/model-arrow-r.png) no-repeat;
		width: 30px;
		height: 30px;
		transform: rotate(180deg) ;
		left: -30px;
		&:hover{
		    background: url(../img/model-arrow-r-h.png) no-repeat;
		    width: 30px;
		    height: 30px;
		 }
	}
}

.photo-slider{
	margin-top: 65px;
}
.fancybox-overlay{
	background-image: none;
	background-color: rgba(0, 0, 0, .5);
/* 	-webkit-filter: blur(8px);
 -moz-filter: blur(8px);
  -o-filter: blur(8px);
 -ms-filter: blur(8px);
     filter: blur(8px);
      filter: url('blur.svg#blur');
    z-index: 2;   */
}

.fancybox-skin{
	padding: 0 !important;
	width: 100% !important;
}
.fancybox-close{
	width: 30px;
    height: 30px;
	top: -35px;
    right: -5px;
    background-image: url("../img/popup-galery-close.png") !important; 
}

.fancybox-next{
	span{
		width: 31px;
    	height: 35px;
		background-image: url("../img/popup-galery-arrow.png");
		background-position: 0 0;
	}
}

.fancybox-prev{
	span{
		width: 31px;
    	height: 35px;
		background-image: url("../img/popup-galery-arrow.png");
		background-position: 0 0;
		transform: rotate(180deg);
	}
}

/* .popup-gallery__back{
	background: url(../img/fancybox_overlay.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; -webkit-filter: blur(8px);
 -moz-filter: blur(8px);
  -o-filter: blur(8px);
 -ms-filter: blur(8px);
     filter: blur(8px);
    z-index: 2;
}
 */

/* ====FOOTER==== */

.footer{
	margin-top: 10px;
	background: #2e2e2e;
	overflow: hidden;
	padding: 73px 0 54px;
	color: #fff;
}	
.footer-df{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.left{
	&__text{
		width: 245px;
		margin-top: 55px;
	}
}
.repairs{
	padding-top: 32px;
	&__text{
		text-transform: uppercase;
	}
	&__list{
		list-style-type: square;
		margin-top: 30px;

	}
	&__item{
		color: red;
		padding-bottom: 20px;
	}
	&__link{
		color: #fff;
		&:hover{
			color: #ef0000;
			text-decoration: underline;
		}
	}
}
.footer-info{
	padding-top: 32px;
	&__text{
		text-transform: uppercase
	}
	&__list{
		list-style-type: square;
		margin-top: 30px;
	}
	&__item{
		color: red;
		padding-bottom: 20px;
	}
	&__link{
		color: #fff;
		&:hover{
			color: #ef0000;
			text-decoration: underline;
		}
	}
}
.footer-contacts{
	padding-top: 32px;
	&__text{
		text-transform: uppercase
	}

	&__title{
		position: relative;
		margin: 30px 0 20px;
		&:before{
			content: "";
			position: absolute;
			background: url(../img/footer-adress.png) no-repeat;
			width: 12px;
			height: 16px;
			left: -20px;
    		top: 3px;
		}
	}
	&__img{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			background: url(../img/footer-phone.png) no-repeat;
			width: 12px;
			height: 19px;
			left: -20px;
		}
	}
}
.footer-social{
	padding-top: 32px;
	&__text{
		text-transform: uppercase
	}
	&__list{
		margin-top: 30px;
	}
	&__item{
		display: inline-block;
		padding-right: 10px;
	}
	&__link{
		background: url(../img/footer-sprite.png) no-repeat;
		width: 30px;
		height: 30px;
		display: block;

	}
	&__vk{
		&:hover{
			background: url(../img/icon-vk.png) no-repeat;
		}
	}
	&__fb{
		background-position: -40px 0;
		&:hover{
			background: url(../img/icon-fb.png) no-repeat;
		}
	}

	&__google{
		background-position: -80px 0;
		&:hover{
			background: url(../img/icon-google.png) no-repeat;
		}
	}
	&__inst{
		background-position: -120px 0;
		&:hover{
			background: url(../img/icon-inst.png) no-repeat;
		}
	}
	&__text-second{
		text-transform: uppercase;
		padding-top: 20px;
	}
}
.cards{
	padding-top: 10px;
	&__item{
		display: inline-block;
	}
}

